@use '@angular/material' as mat;
@use '../m3-theme.scss' as m3;

@include mat.core();

:root {
  @include mat.all-component-themes(m3.$light-theme);

  .secondary-button {
    @include mat.button-color(m3.$light-theme, $color-variant: secondary);
  }

  .tertiary-button {
    @include mat.button-color(m3.$light-theme, $color-variant: tertiary);
  }

  .warn-button {
    @include mat.button-color(m3.$light-theme, $color-variant: error);
  }

  .tonal {
    background-color: mat.get-theme-color(m3.$light-theme, secondary-container);
    color: mat.get-theme-color(m3.$light-theme, on-secondary-container);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}